[Unit]
Description=zfs-fuse daemon
After=syslog.target

[Service]
Type=forking
PrivateTmp=True
ExecStart=/usr/bin/zfs-fuse-helper start
ExecStop==/usr/bin/zfs-fuse-helper stop

[Install]
WantedBy=multi-user.target
