[Unit]
Description=zfs-fuse daemon
After=syslog.target

[Service]
Type=forking
PrivateTmp=True
ExecStart=/sbin/zfs-fuse-helper start
ExecStop=/sbin/zfs-fuse-helper stop

[Install]
WantedBy=multi-user.target
